:root {
  --main-font: "Roboto", sans-serif;
  --main-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --text-color: #212121;
  --white-text: #ffffff;
}

body {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.header-frame {
  border-bottom: 1px solid #ececec;
}

.header-flex {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}

.logo {
  color: var(--accent-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-header {
  margin-right: 93px;
}

.logo-accent-header {
  color: var(--text-color);
}

.navigation {
  display: flex;
}

.navigation .item:not(:last-child) {
  margin-right: 50px;
}

.navigation a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  transition: color 250ms 
  cubic-bezier(0.4, 0, 0.2, 1);
  }

.navigation a:hover,
.navigation a:focus {
  color: var(--accent-color);
}

.navigation .current {
  color: var(--accent-color);
}

.nav-li{
  position: relative;
}

.nav-li::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  background-color: #2196F3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts a {
  color: var(--main-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.mail-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

/*страница студии*/
h1 {
  margin-bottom: 30px;

  color: var(--white-text);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--background-color);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/фон.jpg);
  background-repeat: no-repeat;
  background-position: center;

  width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
  
}

.hero-header {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
}

.hero-btn {
  color: var(--white-text);
  background-color: #2196f3;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: background-color 250ms 
  cubic-bezier(0.4, 0, 0.2, 1);
  }

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
}

.features-list .features-li + .features-li {
  margin-left: 30px;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.vector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-text {
  width: 270px;
  font-size: 14px;
  line-height: 1.7;
}

.features-heder {
  margin-bottom: 10px;

  color: var(--text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  text-transform: uppercase;
}

.business {
  padding-bottom: 94px;
}

h2 {
  margin-bottom: 50px;

  color: var(--text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-decoration: none;
}

.business-img {
  display: flex;
  
}

.img {
  position: relative;
}

.business-img .img + .img {
  margin-left: 30px;
}

.business-heder {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 370px;
  bottom: 0;
  left: 0;
}

.business-text{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-text);
  
  padding-top: 27px;
  padding-bottom: 27px;
 
}

.command {
  background-color: #f5f4fa;

  padding-top: 94px;
  padding-bottom: 94px;
}

.command-list {
  display: flex;
}

.command-list .command-li + .command-li {
  margin-left: 30px;
}

.command-li {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-heder {
  margin-bottom: 10px;

  color: var(--text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.command-box {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.command-text {
  font-size: 16px;
  line-height: 1.19;
}

.social-command {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-command .link-size + .link-size {
  margin-left: 10px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.social:hover,
.social:focus {
  fill: var(--white-text);
  background-color: var(--accent-color);
}

.socials-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list .clients-li + .clients-li {
  margin-left: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #afb1b8;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  width: 170px;
  height: 92px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-section {
  margin-right: 70px;
}

.logo-accent-footer {
  color: var(--white-text);
}

.address {
  margin-top: 20px;

  color: var(--white-text);

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.address-contacts a {
  padding-left: 0;

  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  transition: color 250ms 
  cubic-bezier(0.4, 0, 0.2, 1);
}

.address-contacts a:hover,
.address-contacts a:focus {
  color: var(--accent-color);
}

.footer-mail {
  margin-bottom: 9px;
}

.footer-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-list {
  display: flex;
  margin-top: 20px;
}

.social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--white-text);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms 
  cubic-bezier(0.4, 0, 0.2, 1);

}

.social-footer:hover,
.social-footer:focus {
  background-color: var(--accent-color);
}

.footer-list .footer-li + .footer-li {
  margin-left: 10px;
}

.conteiner-foter-form{
  margin-left: 93px;
}

.footer-form-text{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  
  color: var(--white-text);
}

.footer-form{
  display: flex;
  margin-top: 20px;
}

.footer-form-input{
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.footer-form-input::placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  
  display: flex;
  align-items: center;
  
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn{
  margin-left: 12px;
}


/* Портфолио*/

.portfolio-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.container .button + .button {
  margin-left: 8px;
}

.list-btn {
  background: #f5f4fa;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-btn:hover,
.list-btn:focus {
  color: var(--white-text);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters .current {
  color: var(--white-text);
  background-color: var(--accent-color);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  margin-right: 30px;
  margin-bottom: 30px;
  } 

.portfolio-card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.img-portfolio {
  position: relative;
  overflow: hidden;

}

.portfolio-overlai{
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element:hover .portfolio-overlai {
  transform: translateY(0);
}

.overlai-tex {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--white-text);


  margin-left: 24px;
  margin-right: 24px;

}



.portfolio-box {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
}
.portfolio-heder {
  margin-bottom: 4px;

  color: var(--text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--main-color);

  font-size: 16px;
  line-height: 1.9;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal{
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #FFFFFF;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus{
  fill: var(--accent-color);
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-color);
  
}

textarea {
  resize: none;
}

.form-field{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  margin-top: 12px;
}

.form-field label{
margin-bottom: 4px;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;

color: #757575;
}

.form-field input{
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
padding-left: 40px;
cursor: pointer;
outline: none;

transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:focus{
  border:1px solid var(--accent-color);
}

.form-comment{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;

}

.comment{
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  
  cursor: pointer;
  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  border: 1px solid var(--accent-color);
}

.comment::placeholder{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  
  color: rgba(117, 117, 117, 0.5);
}

.btn-form{
  display: block;
  text-align: center;
  color: var(--white-text);
  background-color: #2196F3;
  
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);;
  border-radius: 4px;

  width: 200px;
  height: 50px;
  
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal{
margin-left: auto;
margin-right: auto;
margin-top: 30px;
}

.btn-form:focus{
  background-color: #188CE8;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 10px;

  display: inline-block;
  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.form-input:focus~.form-icon {
  fill: var(--accent-color);
}

.field {
  margin-left: 12px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid var(--text-color);
  border-radius: 4px;
}

.checkbox:checked + .icon{
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url('../img/icon\ check\ \(1\).svg');
  background-size: contain;
  background-origin: border-box;
}

.polisi{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  
  color: #757575;
}

.contract{
  color: var(--accent-color);
}